
    <div class="my-3">
    <form (ngSubmit)="onSubmit()">
        <h4>Add a todo</h4>
      <label for="title" class="form-label">Todo title</label>
      <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    
    <div class="mb-3">
      <label for="desc" class="form-label">Todo description</label>
      <input type="text" [(ngModel)]="desc" class="form-control" name="desc" id="desc">
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary">Add todo</button>
  </form>